# AWS Configuration
aws_region = "us-east-1"

# Project Configuration
project_name = "student-management-api"

# Instance Configuration
instance_type = "t2.micro"

# SSH Configuration
key_pair_name = "your-aws-key-pair-name"
ssh_cidr      = "0.0.0.0/0"  # Restrict this to your IP for better security

